body {
    font-family: "Permanent", cursive;
    text-align: center;
    background-color: aqua;
}


h1 {
    width: 600px;
    border: 6px solid black;
    border-radius: 10px;
    margin-left: 23%;
}

a {
    color: black;
}

#mode {
    cursor: pointer;
    font: bold;
    font-family: "Permanent Marker", cursive;
    background-color: transparent;
    margin-bottom: 25px;
}

#input {
    height: 50px;
    width: 600px;
    background-color: gray;
    border: 6px solid black;
    border-radius: 20px;
    font-size: xx-large;
    text-align: inherit;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#output {
    height: 250px;
    width: 550px;
    background-color: gray;
    border: 6px solid black;
    border-radius: 20px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
}

#alpha {
    height: 220px;
    width: 600px;
    background-color: gray;
    border-radius: 20px;
    margin: 25px auto;
    border: 6px solid black;
    display: flex;
    flex-wrap: wrap;

}

.outputTile {
    height: 10%;
    width: 9%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: gray;
    border-radius: 20%;
    border: 5px solid black;
}

.alphaTile {
    height: 20px;
    width: 50px;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: darkgray;
    border-radius: 20%;
    border: 5px solid black;
}


.green {
    background-color: lawngreen;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}